.content{
    width: 100%;
    margin: 0px auto;
	overflow: hidden;
   
    
}

.animate{
    opacity: 0;
    animation: content 5s forwards;
    &-late{
        opacity: 0;
        animation: content 10s forwards;
    }
}

@keyframes content {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.titled-section{
    &__title{
        color: $black;
        font-family: 'Mrs Saint Delafield', cursive;
        font-size: 50px;
        font-weight: 400;
    }
   
}
.first{
	&_section{
		display: flex;
		flex-direction: column;
		padding: 40px;
		margin-top: 100px;

		&-row{
			display: flex;
			flex-direction: row;
			
			
		}
		&-date{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			line-height: 80px;
			font-size: 60px;
			font-family: "Gowun Batang", serif;
			font-style: normal;
			font-weight: 400;
		}
		&-line{
			height: auto;
			width: 1px;
			margin-left: 40px;
			margin-right: 40px;

			background-color: grey;
		}
		&-save{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			text-align: center;
		}
		&-column{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-self: center;
			padding-top: 100px;
			font-size: 60px;
		}
	}
}
.second{
	&-section{
		background-color: #1b1b1b;
		border-radius: 57px 57px 57px 57px;
		-moz-border-radius: 57px 57px 57px 57px;
		-webkit-border-radius: 57px 57px 57px 57px;
		border: 0px solid #000000;
		color: white;
		padding: 40px;
		height: 700px;
		padding-top: 90px;
	}
	&-section::before{
		content: "OUR DEARS";
		font-size: 50px;
		opacity: 0.5;
		font-style: italic;
		display: flex;
		justify-content: center;

	}
}
.invite{
    &-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
		overflow: hidden;
    }
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
		position: relative;

		&_pd{
			padding: 50px;
		}
    }
    &-img{
        img{
            width: 100%;
			border-radius: 140px 140px 140px 140px;
			-moz-border-radius: 140px 140px 140px 140px;
			-webkit-border-radius: 140px 140px 140px 140px;
			border: 0px solid #000000;
        }
       
    }
}
.img_background{
	background-image: url('/wedding-web2/img/14.png');
	background-size: 100% 100%;
	width: 300px;
	height: 300px;
	transform: rotate(-90deg);
	position: absolute;
	left: 50%;
}
.drescode{
	&__section{
		display: flex;
		flex-direction: column;
		font-size: 60px;
		line-height: 30px;
		
		padding: 40px;
	}
	&__title{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;
	}
	&-pa{
		position: absolute;
		left: 35%;
		top: 65%;

	}
	&_column{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 24px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&_row{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&_border{
		border-radius: 50%;
		border:1px solid black;
		width: 80px;
		height: 80px;
	}
}
.telegram{
	display: flex;
	flex-direction: column;

	&::before{
		content:"TELEGRAM";
		font-size: 60px;
		text-align: center;
		
	}
	&_row{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&-img{
		width: 80%;
		text-align: center;
		&>img{
			width: 50%;
		}
	}
	&__span{
		font-size: 24px;
		width: 80%;
		font-family: "Gowun Batang", serif;
		display: flex;
		flex-direction: column;
	}
}
@media all and (min-width: 640px) and (max-width: 2600px){
	.drescode__title {
			align-items: center;
			justify-content: center;
			position: relative;

		}
	.drescode-pa{
		position: relative;
		left: 0;
		top: 0;
	}
	.first{
		&_section{
			flex-direction: row;
			justify-content: space-around;
			align-items: baseline;

			&-save{
				justify-content: center;
			}
		}
	}
	.second-section{
		height: 100%;
		padding: 100px;
	}
    .invite{
        &-section{
            flex-direction: row;
            align-items: center;
        }
       
        &-content{
            width: 100%;
        }
        &-img{
			display: flex;
            width: 50%;
            height: 500px;
            padding: 10px;
            justify-content: center;
            img{
                width: 80%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
	.rsvp{
		width: 50%;
		position: absolute;
		top: 420vh;
	}
	.telegram_row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.telegram{
		&-img {
				width: 50%;
				text-align: center;
		
				&>img {
					width: 50%;
				}
			}
		
			&__span {
				font-size: 24px;
				width: 50%;
				font-family: "Gowun Batang", serif;
				display: flex;
				flex-direction: column;
			}
	}
}