.programa {
	&__section {
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: #1b1b1b;
		flex-direction: column;
		padding: 40px;
		color: white;

		&>h1{
			font-size: 36px;
			padding-bottom: 30px;
		}
	}

	&__row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content:space-around;
		align-items: center;
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 30px;
	}

	&__title {
		border-bottom: 1px solid $Almond;
	
	
		width: 40vh;
	}
	&_items{
		width: 50%;
	}
	&__item{
		position: relative;
		background-color: #e4e0db;
		border-radius: 200px 200px 0px 0px;
		-moz-border-radius: 200px 200px 0px 0px;
		-webkit-border-radius: 200px 200px 0px 0px;
		border: 0px solid #000000;
		width: 30%;
		height: 70vh;
	}
	&_background{
		position: absolute;
		width: 600px;
		height: 600px;

		&>img{
			width: 600px;
			height: 600px;
		}

	}
}


.telegram {
	display: flex;
	flex-direction: column;

	&::before {
		content: "TELEGRAM";
		font-size: 24px;
		text-align: center;
		font-weight: bold;
		letter-spacing: 3px;

	}

	&_row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&-img {
		width: 80%;
		text-align: center;

		&>img {
			width: 50%;
		}
	}

	&__span {
		width: 80%;
		
		display: flex;
		flex-direction: column;
	}
}

@media all and (min-width: 300px) and (max-width: 640px){
	.programa{
		&__item{
			display: none;
		}
	}
}

@media all and (min-width: 640px) and (max-width: 2600px) {
	.rsvp {
			width: 50%;
			position: absolute;
			top: 420vh;
		}
	
		.telegram_row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	
		.telegram {
			&-img {
				width: 50%;
				text-align: center;
	
				&>img {
					width: 50%;
				}
			}
	
			&__span {
				font-size: 24px;
				width: 50%;
				font-family: "Gowun Batang", serif;
				display: flex;
				flex-direction: column;
			}
		}
}