.programa {
	&__section {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-direction: column;
		padding: 40px;

		&>h1{
			font-size: 36px;
		}
	}
	&__section::before{
		content: "TIMING";
		font-size: 60px;
		display: flex;
		justify-content: center;
	}

	&__row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content:space-around;
		align-items: center;
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	&__title {
		border-bottom: 1px solid $Almond;
		// padding: 20px;
		margin: 20px;
		width: 40vh;
	}
	&_items{
		width: 50%;
	}
	&__item{
		position: relative;
		background-color: #e4e0db;
		border-radius: 200px 200px 0px 0px;
		-moz-border-radius: 200px 200px 0px 0px;
		-webkit-border-radius: 200px 200px 0px 0px;
		border: 0px solid #000000;
		width: 30%;
		height: 70vh;
	}
	&_background{
		position: absolute;
		background-image: url('img/17.png');
		background-size: 100% 100%;
		width: 600px;
		height: 600px;

	}
}

@media all and (min-width: 300px) and (max-width: 640px){
	.programa{
		&__item{
			display: none;
		}
	}
}