.time{
	&__section{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;

		&-pd{
			padding-top: 100px;
		}
	}
	&__before::before{
		content: "LOCATION";
		font-size: 60px;
	}
	&__img{
		width: 80%;
		position: absolute;
		top: 20%;
		left: -4%;
		&>img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: rotate(45deg);

		}

		&-border{
			border-radius: 57px 57px 57px 57px;
			-moz-border-radius: 57px 57px 57px 57px;
			-webkit-border-radius: 57px 57px 57px 57px;
			border: 0px solid #000000;
		}
	}

	&__column{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 40%;
		text-align: center;
	}
	&__row{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
	&-title{
		color: #e4e0db;
		font-style: italic;
		font-size: 30px;
	}
	&__text{
		padding-top: 40px;
		font-size: 25px;

	}
	&__border{
		border-radius: 197px 0px 200px 0px;
		-moz-border-radius: 197px 0px 200px 0px;
		-webkit-border-radius: 197px 0px 200px 0px;
		border: 1px solid white;
		width: 80px;
		height: 80px;
	}
}
.card{
	
	width: 50%;
	height: 400px;
	position: relative;

	//overflow: hidden;
}
.color{
	&-japoniga{
		background-color: #e4e0db;
		transform: rotate(-45deg);
	}
	&-almond{
		background-color: $Almond;
	}
	&1{
		background-color: #d57757;
	}
	&2{
		background-color: #935b37;
	}
	&3{
		background-color: #aa9887;
	}
	&4{
		background-color: #f5f0ed;
	}
	&5{
		background-color: #1a140f;
	}
}
@media all and (min-width: 300px) and (max-width: 640px) {
	.time{
		&__section{
			flex-direction: column;

		}
		&__img{
			width: 90%;
			height: 80%;
		}
		&__column{
			width: 80%;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	.card{
		width: 80%;
	}
}
@media all and (min-width: 640px) and (max-width: 2600px) {
	.time__img{
		position: relative;
		width: 100%;
		&>img{
			transform: none;
		}
	}
	.color-japoniga{
		transform: none;
	}
	.time__section{
		height: 100vh;
		padding: 0;
	}
}